body {
    padding-left: 45px;
    padding-right: 45px;
}


.navBar {
   box-sizing: border-box;
   margin: 0px;
   padding: 10px;
   border: 2px solid black;
   background-color: red;
}

.navBar::after {
    content: "";
    clear: both;
    display: block;
}
.navBarLink {
    float: left;
    width: 18%;
    font-size: 24pt;
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    color: white;
}
.navBarLink a {
    text-decoration: none;
    color: black;
}
.navBarLink:hover {
    background-color: lightskyblue;
}
.navBarLink:active {
    background-color: darkgray;
}

.textInput {
    font-size: 12pt;
}

.homeWelcome {
    display: inline;
    color: green;
}
/* Used in home page */
.signUpButton {
    display: inline;
}

.modifyButton {
    line-height: 2;
    border: 2px solid black;
    cursor: pointer;
    font-size: 24pt;
    text-decoration: none;
    text-align: center;
    background-color: #818bff;
    padding: 8px 16px;
}
.modifyButton a {
    text-decoration: none;
    color: black;
}
.modifyButton:hover {
    background-color: aquamarine;
}

.viewButton {
    line-height: 2;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 24pt;
    text-decoration: none;
    text-align: center;
    background-color: #818bff;
    padding: 8px 16px;
}
.viewButton a {
    text-decoration: none;
    color: black;
}
.viewButton:hover{
    background-color: aquamarine;
}

.formText {
    padding-left: 20px;
    color: black;
}

.fields {
    line-height: 20px;
}

.createCourseFields {
    padding-left: 30px;
    font-size: 24pt;
    line-height: 0px;
}
.createCourseSelect {
    font-size: 12pt;
    padding: 3px
}
.submitModifyButton {
    background-color: indianred;
    border: 2px solid black;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 24px;
}

