.bodyBackground {
    background-color: papayawhip;
    min-height: 100vh;

}
.bodyStyles {
    padding-left: 44px;
    padding-right: 44px;
    background-color: maroon;

}


.navBar {
    box-sizing: border-box;
    margin: -1px;
    padding: 10px;
    border: 2px solid black;
    background-color: lightgrey;
}
.navBarLink:hover {
    background-color: lightskyblue;
}
.navBarLink:active {
    background-color: darkgray;
}
.navBar::after {
    content: "";
    clear: both;
    display: block;
}
.navBarLink {
    float: left;
    width: 18%;
    font-size: 24pt;
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    color: white;
}
.navBarLink a {
    text-decoration: none;
    color: black;
}


.textInput {
    height: 20px;
    font-size: 12pt;

}
.textInput:focus {
    border-color: #201952;
}
.selectDropdown {
    height: 28px;
}
.selectDropdown:focus {
    border-color: #201952;
}

.formText {
    font-size: 16pt;
    line-height: 2;
}

.homeWelcome {
    display: inline;
    color: green;
}
/* Used in home page */
.signUpButton {
    display: inline;
}

.modifyButton {
    display: block;
    line-height: 2;
    border: 2px solid black;
    cursor: pointer;
    font-size: 24pt;
    text-decoration: none;
    text-align: center;
    background-color: #818bff;
    padding: 8px 16px;
}
.modifyButton a {
    text-decoration: none;
    color: black;
}
.modifyButton:hover {
    background-color: aquamarine;
}
.mainPageTable {
    padding: 10px;
    border-spacing: 5px;
    width: 100%;
}
.modifyButtonTitle {
    text-align: center;
    font-size: 28pt;
    font-weight: bold;
}

.responseText {
    padding-left: 20px;
    font-size: 24px;
}

.buttonTypeTag {
    text-align: left;
    font-size: 24px;
}



.viewButton {
    line-height: 2;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 24pt;
    text-decoration: none;
    text-align: center;
    background-color: #818bff;
    padding: 8px 16px;
}
.viewButton a {
    text-decoration: none;
    color: black;
}
.viewButton:hover{
    background-color: aquamarine;
}

.formText {
    padding-left: 20px;
    color: black;
    display: inline;
    font-size: 24px;
}

.fields {
    line-height: 20px;
}

.createCourseFields {
    padding-left: 30px;
    font-size: 24pt;
    line-height: 0px;
}

.submitModifyButton {
    background-color: indianred;
    border: 2px solid black;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
}


