{% extends "base.html" %}

{% block content %}
<p class="modifyButtonTitle">Assign a TA to a Course</p>
    <form action="assign_TA.html" method="post"> {%  csrf_token %}
        <p class="formText"> TA Username: <input type="text" name="username" class="textInput"></p><br>
        <p class="formText"> Course #: <input type="text" name="courseID" class="textInput"></p><br>
        <input type="submit" class="submitModifyButton" value="Submit">
    </form>

    <p class="responseText">Response: {{ list }}</p>
{% endblock content %}

