{% extends "modifyButtons.html" %}
{% block content %}
 <p class="modifyButtonTitle">Create an Account</p>
    <form action="create_account.html" method="post"> {% csrf_token %}
        <div class="createAccountFields">
            <p class="formText"> Username: <input type="text" name="username" class="textInput"></p><br>
            <p class="formText"> Password: <input type="text" name="password" class="passwordInput"></p><br>
            <p class="formText"> Role: <input type="text" name=""></p><br>
        </div>
        <input type="submit" class="submitModifyButton" value="Submit">
    </form><br>

    <p1 class="responseField"> Response: </p1><br>
{% endblock content %}