{% extends "modifyButtons.html" %}
{% block content %}
 <p class="modifyButtonTitle">Create an Account</p>
    <form action="create_account.html" method="post"> {% csrf_token %}
        <div class="createAccountFields">
            <p class="formText"> Username: <input type="text" name="username" class="textInput"></p><br>
            <p class="formText"> Password: <input type="password" name="password" class="textInput"></p><br>
            <p class="formText"> Role: <br>
                <input type="checkbox" name="role1" value="Supervisor"> Supervisor<br>
                <input type="checkbox" name="role2" value="Administrator"> Administrator<br>
                <input type="checkbox" name="role3" value="Instructor"> Instructor<br>
                <input type="checkbox" name="role4" value="TA"> TA<br>
            </p>
        </div>
        <input type="submit" class="submitModifyButton" value="Submit">
    </form><br>

    <p1 class="responseField"> Response: </p1><br>
{% endblock content %}