{% extends "base.html" %}

{% block content %}
<p class="modifyButtonTitle">Delete an Account</p><br>

<form method="post" action="delete_account.html" >
  {% csrf_token %}
  <p class="formText">Username: <input type="text" class="textInput" id="username" name="username"/></p><br>
  <input type="submit" class="submitModifyButton" value="Submit">
</form>
<br>

{% if list %}
  <p1 class="responseText"> Response: {{ list }}</p1><br>
{% endif %}
<dl>
  {% for account in accounts %}
  <dt>Username : {{account.username}}</dt>
  <dd>Account Name : {{account.name}} Account Email : {{account.email}} Account Phone : {{account.phone}}</dd>
  {% endfor %}
</dl>
{% endblock content %}
