{% extends "base.html" %}

{% block content %}
<p class="modifyButtonTitle">Delete a Course</p><br>

<form method="post" action="delete_course.html" >
  {% csrf_token %}
    <p class="formText">Course ID: <input type="text" class="textInput" id="courseid" name="courseid"/></p><br>
    <input type="submit" class="submitModifyButton" value="Submit">
</form>
<br>


{% if list %}
  <h3>{{list}}</h3>
{% endif %}
<dl>
  {% for class in classes %}
  <dt>Course ID : {{class.courseID}}</dt>
  <dd>Course Name : {{class.courseName}}</dd>
  {% endfor %}
</dl>
{% endblock content %}
