{% extends "base.html" %}

{% block content %}
<h1 class="modifyButtonTitle">Delete a Course</h1><br>
<h3>Please enter a valid Course ID<br>
<form method="post" action="delete_course.html" >
  {% csrf_token %}
  <input type="text" id="courseid" name="courseid"/><br>
  <input type="submit" class="submitModifyButton" value="Submit">
</form>
<br>


{% if list %}
  <h3>{{list}}</h3>
{% endif %}
<dl>
  {% for class in classes %}
  <dt>Course ID : {{class.courseID}}</dt>
  <dd>Course Name : {{class.courseName}}</dd>
  {% endfor %}
</dl>
{% endblock content %}
