{% extends "modifyButtons.html" %}
{% block content %}
 <p class="modifyButtonTitle">Edit an Account</p>
    {% if permissions == True %}
        <form action="edit_account.html" method="post">
            {%  csrf_token %}
            <input type="text" name="name">
            <input type="submit" class="submitModifyButton" value="Submit">
        </form>

        {% if error %}
            {{ error }}
        {% endif %}
        <form action="edit_account.html" method="post"> {% csrf_token %}
            <div class="editAccountFields">
                <p name="username">{{ user }}</p><br>
                <p class="formText"> Name: <input type="text" name="name" class="textInput" value="{{ userName }}"></p><br>
                <p class="formText"> Password: <input type="password" name="password" class="textInput" value="{{ userPassword }}"></p><br>
                <p class="formText"> Email: <input type="text" name="email" class="textInput" value="{{ userEmail }}"></p><br>
                <p class="formText"> Phone: <input type="text" name="phone" class="textInput" value="{{ userPhone }}"></p><br>
                <p class="formText"> Address: <input type="text" name="address" class="textInput" value="{{ userAddress }}"></p><br>
                <p class="formText"> Office Hours: <input type="text" name="officehours" class="textInput" value="{{ userName }}"></p><br>
            </div>
            <input type="submit" class="submitModifyButton" value="Submit">
        </form><br>
    {% endif %}
    <p1 class="responseField"> {{ list }} </p1><br>
{% endblock content %}