{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <h class="homeHeader">TA Scheduling App</h><br><br>

    <a href="{% static "docs/Team 404 - Command Manual.docx" %}" class="docWord">Documentation</a><br>

    <p class="homeSec">About this app: </p>
    <p class="homeText">This application should be used by the faculty
        of a university to access the courses they are assigned to and
        for the supervisors of the departments to create the courses
        and assign instructors and TA’s accordingly. </p><br>
    <p class="homeSec">Developers Message: </p>
    <p class="homeText">This application should be used by the faculty
        of a university to access the courses they are assigned to and
        for the supervisors of the departments to create the courses
        and assign instructors and TA’s accordingly. </p><br><br>

    <p class="emailText"> Have a question?
        <a href="mailto:fhoffman@uwm.edu">Click here to send us an email.</a></p>

{%  endblock content %}

