{% extends "base.html" %}
{% block content %}
<p class="modifyButtonTitle">Login</p>

  <form action="login.html" method="post">
        {% csrf_token %}
      <p class="formText">Username: <input type="text" class="textInput" name="username"></p><br/>
      <p class="formText">Password: <input type="password" class="textInput" name="password"></p><br/>
      <input type="submit" class="submitModifyButton" value="Submit">
  </form>

  <p class="responseText">Response: {{ response }}</p>
{% endblock content %}
