{% extends "base.html" %}
{% block content %}
    <p class="modifyButtonTitle">View Instructor Assignments</p>
    <form action="view_instructor_assignments.html" method="post"> {%  csrf_token %}
        <div class="viewTAassignmentsFields">
            <p class="formText"> Instructor Username: <input type="text" name="username" class="textInput"></p><br>
        </div>
        <input type="submit" class="submitModifyButton" value="Submit">
    </form>

    {% if error %}
        {{ error }}
    {% endif %}

    {% if list %}
        <table border="1">
        <tr>
            <th>Lecture ID</th>
            <th>Lecture Name</th>
        </tr>
        {% for item in list %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

{% endblock content %}
