{% extends "base.html" %}
{% block content %}
<br><br>
    <button class="viewButton"><a href="view_course.html">View Course</a></button><br><br>
    <button class="viewButton"><a href="view_lecture.html">View Lecture</a></button><br><br>
    <button class="viewButton"><a href="view_lab.html">View Lab</a></button><br><br>
    <button class="viewButton"><a href="view_users.html">View All Users</a></button><br><br>
    <button class="viewButton"><a href="view_account.html">View Account</a></button><br><br>
    <button class="viewButton"><a href="view_instructor_assignments.html">View Instructor Assignments</a></button><br><br>
    <button class="viewButton"><a href="view_TA_assignments.html">View TA Assignments</a></button><br><br>



{%  endblock content %}