{% extends "base.html" %}
{% block content %}
    <p class="modifyButtonTitle">View TA Assignments</p>
    <form action="view_TA_assignments.html" method="post"> {%  csrf_token %}
        <p class="formText"> TA Username: <input type="text" name="username" class="textInput"></p><br>
        <input type="submit" class="submitModifyButton" value="Submit">
    </form>

    {% if error %}
        {{ error }}
    {% endif %}

    {% if list %}
        <table border="1">
            <tr>
                <th>Lab ID</th>
                <th>Lab Name</th>
            </tr>
            {% for item in list %}
                <tr>
                    <td>{{ item.0 }}</td>
                    <td>{{ item.1 }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock content %}
