{% extends "base.html" %}
{% block content %}
    <p class="modifyButtonTitle">View a Course</p>

    <form method="post" action="view_course.html">
      {% csrf_token %}
        <p class="formText">Course ID: <input type="text" class="textInput" id="courseid" name="courseid"/></p><br>
      <input type="submit" class="submitModifyButton" value="Submit">
    </form>
    <br>
    {% if course %}
    <table border="1">
      <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Lecture Count</th>
        <th>Lab Count</th>
      </tr>
      <tr>
        <td>{{course.courseID}}</td>
        <td>{{course.courseName}}</td>
        <td>{{course.lectureSectionCount}}</td>
        <td>{{course.labSectionCount}}</td>
      </tr>
    </table>
    {% endif %}

    <dl>
      {% for class in classes %}
      <dt>Course ID : {{class.courseID}} Course Name : {{class.courseName}}</dt>
      {% endfor %}
    </dl>
{% endblock content %}
