{% extends "base.html" %}
{% block content %}
    <p class="modifyButtonTitle">View a Lab Section</p>
    <h3>Please enter a valid Lab ID<br>
    <form method="post" action="view_lab.html" >
      {% csrf_token %}
      <input type="text" id="labid" name="labid"/><br>
      <input type="submit" class="submitModifyButton" value="Submit">
    </form>
    <br>
    {% if lab %}
    <table border="1">
      <tr>
        <th>Lab ID</th>
        <th>Lab Name</th>
        <th>TA</th>
      </tr>
      <tr>
        <td>{{lab.sectionID}}</td>
        <td>{{lab.labName}}</td>
        {% if ta %}
        <td>{{ta.account.}}</td>

      </tr>
    </table>
    {% endif %}
{% endblock content %}
