{% extends "base.html" %}
{% block content %}

    <p class="modifyButtonTitle">View an Account</p>

    <form action="view_account.html" method="post">
        {%  csrf_token %}
        <input type="text" name="name">
        <input type="submit" class="submitModifyButton" value="Submit">
    </form>


    {% if error %}
        {{ error }}
    {% endif %}

    {% if list_private %}
        <br/>
        <br/>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Office Hours</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>{{ list_private.0 }}</td>
                <td>{{ list_private.1 }}</td>
                <td>{{ list_private.2 }}</td>
                <td>{{ list_private.3 }}</td>
                <td>{{ list_private.4 }}</td>
                <td>{{ list_private.5 }}</td>
            </tr>
        </table>
    {% else %}
        {{ list }}
    {% endif %}

    {% if list_public %}
        <br/>
        <br/>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Office Hours</th>
            </tr>
            <tr>
                <td>{{ list_public.0 }}</td>
                <td>{{ list_public.1 }}</td>
                <td>{{ list_public.2 }}</td>
                <td>{{ list_public.3 }}</td>
            </tr>
        </table>
    {% else %}
        {{ list }}
    {% endif %}

{% endblock content %}
