{% load static %}
        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "static/css/style.css" %}">
</head>

<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Modify</a></li>
                <li><a href="#">View</a></li>
                <li><a href="#">Login</a></li>

            </ul>
         </nav>
    </div>
</header>
<body>
    {% block navbar %}
    {% endblock navbar %}
</body>
</html>
