{% load staticfiles %}
        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team 404 Project</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %} ">
</head>

<body>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="modify.html">Modify</a></li>
            <li><a href="view.html">View</a></li>
            <li><a href="#">Login</a></li>

            <li><a href=create_course.html">Create Course</a></li>
         </ul>
    </nav>
    {% block content %}

    {% endblock content %}
</body>
</html>
