{% load staticfiles %}
        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team 404 Project</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %} ">
</head>

<body>
    <ul class="navBar">
        <li class="navBarLink"><a href="home.html">Home</a></li>
        <li class="navBarLink"><a href="modify.html">Modify</a></li>
        <li class="navBarLink"><a href="view.html">View</a></li>
        {% if user %}
            <li class="navBarLink"><a href="logout.html">Logout</a></li>
        {% else %}
            <li class="navBarLink"><a href="login.html">Login</a></li>
        {% endif %}
    </ul>
    {% block content %}

    {% endblock content %}
</body>
</html>
